.section {
    Padding: 80px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
    font-family: Avenia;
}

.myList{ 
    list-style-type: none;
}
.myList1{ 
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 9px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
   
}
.col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#one #two .section {
    padding: 80px 0;
    background-color: #f2f4f9;
    height: 80%;
}

div {
    display: block;
}

#one #two h2 {
    font-family: "Avenir Next LT W01 Demi";
    font-size: 32px;
    line-height: 38px;
}
.row1 .row{
    margin-top: 80px;
}
#one img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}

img Attributes Style> {
    width: 345px;
    height: 293px;
}

p {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifj;
}
ul {
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
   
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.button {
    font-family: "AvenirNextLTW01-Medium";
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    min-width: 106px;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 26px;
    border: 1px solid transparent;
    background-color: #ff6000;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    margin: 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 30px;

}
